iPhoneApp/WcfTestSuite/Service References/Service/Service12.xsd

<?xml version="1.0"?><xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfWebApp.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfWebApp.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:complexType name="ArrayOfUser"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" /></xs:sequence></xs:complexType><xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" /><xs:complexType name="User"><xs:sequence><xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" /><xs:element minOccurs="0" name="Id" type="xs:int" /><xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" /></xs:sequence></xs:complexType><xs:element name="User" nillable="true" type="tns:User" /><xs:complexType name="TaskList"><xs:sequence><xs:element minOccurs="0" name="Id" type="xs:int" /><xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfItem" /><xs:element minOccurs="0" name="User" nillable="true" type="tns:User" /></xs:sequence></xs:complexType><xs:element name="TaskList" nillable="true" type="tns:TaskList" /><xs:complexType name="ArrayOfItem"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" /></xs:sequence></xs:complexType><xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" /><xs:complexType name="Item"><xs:sequence><xs:element minOccurs="0" name="Id" type="xs:int" /><xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" /></xs:sequence></xs:complexType><xs:element name="Item" nillable="true" type="tns:Item" /><xs:complexType name="ImageData"><xs:sequence><xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" /><xs:element minOccurs="0" name="ImageContent" nillable="true" type="xs:base64Binary" /></xs:sequence></xs:complexType><xs:element name="ImageData" nillable="true" type="tns:ImageData" /></xs:schema>