iPhoneApp/WcfTestSuite/Service References/Service/Service1.xsd

<?xml version="1.0"?><xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:import schemaLocation="http://192.168.43.245/WcfWebApp/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfWebApp.Models" /><xs:element name="DoWork"><xs:complexType><xs:sequence /></xs:complexType></xs:element><xs:element name="DoWorkResponse"><xs:complexType><xs:sequence /></xs:complexType></xs:element><xs:element name="GetUsers"><xs:complexType><xs:sequence /></xs:complexType></xs:element><xs:element name="GetUsersResponse"><xs:complexType><xs:sequence><xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfWebApp.Models" minOccurs="0" name="GetUsersResult" nillable="true" type="q1:ArrayOfUser" /></xs:sequence></xs:complexType></xs:element><xs:element name="GetTasks"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="userId" type="xs:int" /></xs:sequence></xs:complexType></xs:element><xs:element name="GetTasksResponse"><xs:complexType><xs:sequence><xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfWebApp.Models" minOccurs="0" name="GetTasksResult" nillable="true" type="q2:TaskList" /></xs:sequence></xs:complexType></xs:element><xs:element name="UploadImage"><xs:complexType><xs:sequence><xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfWebApp.Models" minOccurs="0" name="imageData" nillable="true" type="q3:ImageData" /></xs:sequence></xs:complexType></xs:element><xs:element name="UploadImageResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="UploadImageResult" type="xs:boolean" /></xs:sequence></xs:complexType></xs:element></xs:schema>